.h1-busq {
    text-align: center;
    margin-bottom: 20px;
}

.d-flex{
    margin-bottom: 20px;
}

.tabla-redonda{
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}